.overlay {
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(darken($text,60%), 0.4);
    backdrop-filter: blur(2px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal {
    position: relative;
    background-color: #fff;
    padding: 30px 20px;
    border-radius: 2px;
    text-align: left;
    position: relative;
    transform: scale(.9);
    @include mq(768px) {
        padding: 50px 30px;
        min-width: 300px;
        transform: scale(1);
    }
    &:hover &_close{
        opacity: 1;
    }
    &_close {
        position: absolute;
        top: 2px;
        right: 5px;
        width: 20px;
        height: 20px;
        opacity: 0;
        transition: opacity .2s;
        cursor: pointer;
        img {
            width: 100%;
        }
    }
    &_arrow {
        fill: $bg;
        width: 25px;
        height: 40px;
        transition: opacity .1s;
        @include mq(768px) {
            opacity: 0;
            width: 45px;
            height: 60px;
            &:hover {
                opacity: .8;
            }
        }
        &.right {
            transform: rotate(180deg);
        }
    }
    &_button {
        &-left {
            left: -40px;
            @include mq(768px) {
                left: -80px;
            }
        }
        &-right {
            right: -40px;
            @include mq(768px) {
                right: -80px;
            }
        }
        &-left, &-right {
            position: absolute;
            top: 150px;
            cursor: pointer;
        }
    }
    &_content {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &_avatar {
        border-radius: 50%;
        margin-bottom: 30px;
    }
    hr {
        margin: 10px 0;
    }
    p {
        color: $text;
        font-size: .8rem;
    }
}

.hidden {
    display: none;
}